body {
  font-family: Calibri, Arial, "Helvetica Nue", sans-serif;
  font-size: 16px;
  padding-bottom: 60px;
}

label {
  margin-top: 7px;
}

#footer {
  padding-top: 15px;
  padding-bottom: 0px;
  text-align: center;
  background: #F0F0F0;
  height: 5px;
  vertical-align: bottom;
  border-top: solid 1px gray;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

#input {
  max-width: 400px;
  margin: 0px auto;
  margin-bottom: 30px;
}

#intro {
  max-width: 550px;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#output {
  max-width: 550px;
  margin: 0px auto;
  padding: 20px;
  font-family: Consolas, 'Courier New', monospace;
  background-color: #EBF4FA;
  border: 1px solid gray;
}

#slider {
  margin-top: 13px;
  margin-left: 10px;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.cidr {
  border: 0;
  margin-top: 4px;
  margin-left: 0px;
  padding-left: 0px;
}

.error {
  color: red;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.footer-text {
  padding-right: 30px;
  padding-left: 30px;
}

.row {
  margin: 10px;
}