body {
  font-family: Calibri, Arial, "Helvetica Nue", sans-serif;
  font-size: 16px;
}

label {
  margin-top: 7px;
}

#output {
  margin-top: 40px;
  padding: 10px;
  font-family: Consolas, 'Courier New', monospace;
  background-color: #F0F0F0;
  border: 1px solid gray;
}

#slider {
  margin-top: 13px;
  margin-left: 10px;
}

.bold {
  font-weight: bold;
}

.cidr {
  border: 0;
  margin-top: 4px;
  margin-left: 0px;
  padding-left: 0px;
}

.content {
  max-width: 400px;
  margin: 0px auto;
}

.error {
  color: red;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.row {
  margin: 10px;
}